/* Estilos generales */
body {
    background-image: url("/img/pokebgpc.png");
    background-repeat: repeat;
    background-size: cover;
}

input{
    box-shadow: 1px 2px 17px -1px rgba(0,0,0,0.83);
    -webkit-box-shadow: 1px 2px 17px -1px rgba(0,0,0,0.83);
    -moz-box-shadow: 1px 2px 17px -1px rgba(0,0,0,0.83);
}

#pokemon-sprites-container{
    width: 160px;
    height: 110px;
    top: 50px;
    right: 35px;    
    position: relative;
    border-radius: 6px;
}

#pokemon-name-container{
    width: 155px;
    height: 25px;    
    top: 40px;
    right: 40px;
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;

}


#pokemon-id-container{
    width: 90px;
    height: 45px;  
    top: 88px;
    right: 25px;
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 9px;
}

#pokemon-type-container{
    width: 165px;
    height: 27px;
    top: 155px;
    left: 55px;
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
}



#pokedex-img{
    width: 500px;
    height: 400px;
    position: absolute;
}

#boxContent{
    padding-top: 100px;
}

#statsContainer{

    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 5px;
}


#statsName{
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 5px;
}


/* Estilos para pantallas pequeñas */

@media screen and (max-width: 767px) {

    body{
        background-image: url("/img/pokebgmobil.png");
        background-repeat: repeat;
        background-size: cover;
        
    }
    
    #pokedex-img{
        width: 380px;
        height: auto;
    }

    
    #pokemon-sprites-container{
    top: 84px;
    left: 60px;    
    position: relative;
    }

    #pokemon-sprites-container, img{
        width: 70px;
        height: 70px;
    }
    
    #pokemon-name-container{ 
    top: 100px;
    left: 70px;
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 8px;
    }

    
    #pokemon-id-container{
    top: 132px;
    left: 60px;
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 8px;
    }

    
    #pokemon-type-container{
    top: 86px;
    left: 210px;
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 7px;
    }

    #statsName{
        width: 10px;
        bottom: 72px;
        left: 250px;
        position: relative;
        font-family: 'Press Start 2P', sans-serif;
        font-size: 5px;
        font-weight: 800;
    }

    p{
        margin: 2px;
    }

    #statsContainer{
        height: 80px;
        width: 10px;
        bottom: 155px;
        left: 320px;
        position: relative;
        font-family: 'Press Start 2P', sans-serif;
        font-size: 5px;
        font-weight: 800;
        gap: .18rem!important;

    }

}
